<div id="work_list" class="nowrapper">
	<div class="row work_list">
		{% assign sorted_work = site.work | sort:"order" | reverse %}
		{% for work in sorted_work %}
			{% unless work.no-show %}
				
				<div class="work_list_tile work_list_tile_{{ work.title | remove: " " | remove: "." }} {{ work.worktile_theme }}">
					<a href="{{ work.permalink }}">
					<div class="work_list_tile_thumb">
                      {% responsive_image_block %}
                      path: assets/img/work-featuredimg/{{ work.featured_img }}
                      {% endresponsive_image_block %}
					</div>	       					
			      
			      	<header class="work_list_tile_header">				      	
				      	<h4 class="work_list_tile_title">{{ work.title }}</h4>
				    </header>
				    </a>				    
			    </div>

			{% endunless %}
	    {% endfor %}
	</div>
</div>