body.about {

  & .page-content .wrapper {
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  & .post {

    @media (min-width: 800px) {
      display: flex;
    }
  }

  & .about-portrait {

    @media (min-width: 1000px) {
     
      margin: 0 (2 * $spacing-unit) 0 (2 * $spacing-unit);
      max-width: 33.3%;
    }

    @media (max-width: 800px) {
      margin-left:-$spacing-unit;
      margin-right:-$spacing-unit;
      margin-top: calc(-4rem - #{$spacing-unit});
      max-height: 64vh;
      overflow: hidden;
    }

    & img {
       width: 100%;
       margin: $spacing-unit auto;
    }
  }

  & .post-content {
    @media (min-width: 800px) {
      flex-basis: 66.666%;
      padding: 0 (2 * $spacing-unit) 0 (2 * $spacing-unit);
    }
  }

  & .contact{
    @media (min-width: 800px) {
      flex-basis: 33.333%;
      padding: 0 (2 * $spacing-unit) 0 (1 * $spacing-unit);
    }
  }

  & .contact-list {

    & .icon {
      width: 20px;
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: .5rem;

      & svg {
        width: 100%;

        & path {
          fill: #000;  
        }
        
      }
    }
  }

  & .page-content .contact p {
    font-size: 1rem;
  }

  & .page-content .contact ul {
    list-style: none;
  }

}
