/**
 * Preloader
 */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: 101;
}

.preloader_logo {
    width: 300px;
    height: 300px;

    & svg {
        width: 100%;
    }
}

/* Effect 10: Corner indicator */
.la-anim-10 {
    position: fixed;
    top: 150px;
    right: 150px;
    width: 300px;
    height: 300px;
    background: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}

.la-anim-10.la-animate {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}
